.body-title {
    display: flex;
    justify-content: center;
}

.body-descript {
    display: flex;
    justify-content: center;
    color: #333;
}

body {
    background-color: aliceblue;
}

.content {
    text-align: center;
    margin-right: 30%;
    margin-left: 29%;
    margin-top: 5%;
}

.scoreboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

h3 {
    margin: 0;
    margin-bottom: 10px;
}

#submit1,
#submit2,
#submit3 {
    min-width: 140px;
    margin-bottom: 3px;
}

.btn-danger {
    min-width: 130px;
}