.body-title {
    display: flex;
    justify-content: center;
}

.body-descript {
    display: flex;
    justify-content: center;
    color: #333;
}

body {
    background-color: aliceblue;
}

.content {
    text-align: center;
    margin-right: 15%;
    margin-left: 14.5%;
    margin-top: 2.5%;
}

.scoreboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

div.form-group {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;   
}

h3 {
    margin: 0;
    margin-bottom: 10px;
}
